<app-navbar></app-navbar>

<div class="home-content">
    <h2>Welcome to your expense management app</h2>
    <img src="logo.svg" alt="Logo" height="400" width="400" />
    <p>
        Please use the navigation bar to manage users and expense reports.
    </p>
    <p>This web app project was completed by Mr. Yassine Ouicha Hammou.</p>

    <a
            href="https://github.com/YassineOuicha/N2JSoft"
            target="_blank"
            rel="noopener noreferrer"
    >
        View the project on GitHub (n2jsoft-hr-cr)
    </a>
</div>