@use '@angular/material' as mat;

@include mat.core();

:root {
  @include mat.button-overrides((
          filled-container-shape: 6px,
          outlined-container-shape: 6px,
  ));
}

.snack-error {
  @include mat.snack-bar-overrides((
          container-color: #d32f2f,
          supporting-text-color: white,
          button-color: white,
  ));
}

.snack-success {
  @include mat.snack-bar-overrides((
          container-color: #2e7d32,
          supporting-text-color: white,
          button-color: white,
  ));
}

.page-container {
  padding: 24px;
}

.form-row {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
}

table {
  width: 100%;
  margin-top: 16px;
}

.pager {
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  gap: 8px;
}

.home-content {
  min-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-align: center;
}

.home-content h2,
.home-content p {
  margin: 0;
}

