@use '@angular/material' as mat;

@include mat.core();

$theme: mat.define-theme((
        color: (
                theme-type: light,
                primary: mat.$indigo-palette,
                tertiary: mat.$orange-palette,
                warn: mat.$red-palette,
        ),
        typography: (
                brand-family: 'Roboto, Arial, sans-serif',
        ),
        density: 0
));

@include mat.all-component-themes($theme);

:root {
  @include mat.button-overrides((
          filled-container-shape: 6px,
          outlined-container-shape: 6px,
  ));
}

.snack-error {
  @include mat.snack-bar-overrides((
          container-color: #d32f2f,
          supporting-text-color: white,
          button-color: white,
  ));
}

.snack-success {
  @include mat.snack-bar-overrides((
          container-color: #2e7d32,
          supporting-text-color: white,
          button-color: white,
  ));
}

.page-container {
  padding: 24px;
}

.form-row {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
}

table {
  width: 100%;
  margin-top: 16px;
}

.pager {
  margin-top: 12px;
  display: flex;
  gap: 8px;
}
